/* Global Styles */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
  background-color: #fff;
  color: #111;
}

body.dark-mode {
  background-color: #111;
  color: #fff;
}

a {
  color: inherit; /* Agar warna link mengikuti mode */
}

button {
  background-color: #6a11cb; /* Warna default untuk button */
  color: #fff;
}

button.dark-mode {
  background-color: #444; /* Button untuk dark mode */
}

header {
  transition: background 0.3s ease, color 0.3s ease;
}
